<div id="flip1" class="flip">
	<div class="flip-cube flip-letter0">
		<div class="flip-front">J</div>
		<div class="flip-bottom">A</div>
		<div class="flip-back"></div>
		<div class="flip-top">S</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter1">
		<div class="flip-front">J</div>
		<div class="flip-bottom">A</div>
		<div class="flip-back">M</div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter2">
		<div class="flip-front">J</div>
		<div class="flip-bottom">A</div>
		<div class="flip-back">M</div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter3">
		<div class="flip-front">S</div>
		<div class="flip-bottom">A</div>
		<div class="flip-back">M</div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter4">
		<div class="flip-front">S</div>
		<div class="flip-bottom">J</div>
		<div class="flip-back"></div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
</div>
<div id="flip2" class="flip">
	<div class="flip-cube flip-letter0">
		<div class="flip-front">L</div>
		<div class="flip-bottom">O</div>
		<div class="flip-back"></div>
		<div class="flip-top">R</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter1">
		<div class="flip-front">L</div>
		<div class="flip-bottom">O</div>
		<div class="flip-back">P</div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter2">
		<div class="flip-front">L</div>
		<div class="flip-bottom">O</div>
		<div class="flip-back">P</div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter3">
		<div class="flip-front">R</div>
		<div class="flip-bottom">O</div>
		<div class="flip-back">P</div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
	<div class="flip-cube flip-letter4">
		<div class="flip-front">R</div>
		<div class="flip-bottom">L</div>
		<div class="flip-back"></div>
		<div class="flip-top">E</div>
		<div class="flip-left"></div>
		<div class="flip-right"></div>
	</div>
</div>