<div class="flip">
					<div class="cube">
						<b>J</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>A</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>M</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>E</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>S</b><b></b><b></b><b></b><b></b><b></b>
					</div>
				</div>
				<div id="flip2" class="flip">
					<div class="cube">
						<b>L</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>O</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>P</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>E</b><b></b><b></b><b></b><b></b><b></b>
					</div>
					<div class="cube">
						<b>R</b><b></b><b></b><b></b><b></b><b></b>
					</div>
				</div>