<div class="flip">
					<div class="cube cube0">
						<b>J</b><b>A</b><b></b><b>S</b><b></b><b></b>
					</div>
					<div class="cube cube1">
						<b>J</b><b>A</b><b>M</b><b>E</b><b></b><b></b>
					</div>
					<div class="cube cube2">
						<b>J</b><b>A</b><b>M</b><b>E</b><b></b><b></b>
					</div>
					<div class="cube cube3">
						<b>S</b><b>A</b><b>M</b><b>E</b><b></b><b></b>
					</div>
					<div class="cube cube4">
						<b>S</b><b>J</b><b></b><b>E</b><b></b><b></b>
					</div>
				</div>
				<div id="flip2" class="flip">
					<div class="cube cube0">
						<b>L</b><b>O</b><b></b><b>R</b><b></b><b></b>
					</div>
					<div class="cube cube1">
						<b>L</b><b>O</b><b>P</b><b>E</b><b></b><b></b>
					</div>
					<div class="cube cube2">
						<b>L</b><b>O</b><b>P</b><b>E</b><b></b><b></b>
					</div>
					<div class="cube cube3">
						<b>R</b><b>O</b><b>P</b><b>E</b><b></b><b></b>
					</div>
					<div class="cube cube4">
						<b>R</b><b>L</b><b></b><b>E</b><b></b><b></b>
					</div>
				</div>