* {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; margin:0;}
body {font-family:sans-serif; font-size:14px; background:#fff; margin:0;}
.body {margin:0 auto; line-height:1.5; max-width:960px; position:relative; padding:10px;}
h1 {font-size:34px; margin:0; color:#333;}

h1,h2,h3 {margin-bottom:10px;}
ol,ul,p,pre,.highlight {margin-bottom:20px;}
li pre {margin-bottom:0;}

article {margin-bottom:70px;}
pre {font-family:Menlo, monospace; color:#fff; background:#192535; padding:5px 7px; overflow:auto; font-size:12px; border-radius:1px;}
li.command {list-style-type:square;}
li.command, .code, pre, kbd, code {font-family:Menlo, "Courier New", monospace; font-size:12px;}
kbd {padding:0 3px; font-weight:bold;}
.c1 {color:#999;}
.k, .kd {color:#e9534e;}
.s1, .s2 {color:#f5cd6b;}
.o {color:#ccc;}
.mi {color:#7e67ba;}
.nb {color:#8bd3e6;}
.flip {height:30px; width:170px; perspective:100px; font-size:0; margin-bottom:5px;}
.cube {height:30px; width:30px; margin:0 2px; display:inline-block; position:relative; transform-style:preserve-3d; transition:transform 0.4s;}
.cube b {width:30px; height:30px; position:absolute; text-align:center; background-color:rgba(0, 0, 0, .9); color:#fff; font-size:20px; font-weight:normal;}
.cube b:nth-child(1) {transform:rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 15px);}
/* front */
.cube b:nth-child(2) {transform:rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 15px);}
/* bottom */
.cube b:nth-child(3) {transform:rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 15px);}
/* back */
.cube b:nth-child(4) {transform:rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 15px);}
/* top */
.cube b:nth-child(5) {transform:rotate3d(0, 1, 0, -90deg) translate3d(0, 0, 15px);}
/* left */
.cube b:nth-child(6) {transform:rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 15px);}
/* right */
.cube0 {transform:translateZ(-15px) rotateX(0deg); z-index:1;}
.cube1 {transform:translateZ(-15px) rotateX(90deg); z-index:2;}
.cube2 {transform:translateZ(-15px) rotateX(180deg); z-index:3;}
.cube3 {transform:translateZ(-15px) rotateX(270deg); z-index:2;}
.cube4 {transform:translateZ(-15px) rotateX(360deg); z-index:1;}

#header {margin-bottom:40px;}
@media (min-width:600px) {
	.body {padding:20px 10px 10px 220px;}
	#header {position:absolute; top:25px; left:10px;}
	#header-inner {width:200px; padding:10px 0 0 0;}
}

#nav {list-style:none; padding:0;}
#nav p {margin-bottom:0;}
#nav li {margin-bottom:20px;}
#nav img {width:25%; float:left; margin-right:20px;}
#nav li::after {content: ""; clear:both; display:table;}

article img {width:100%;}
article .meta {margin-top:10px;}