*,*:after,*:before {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; margin:0; font-family:inherit;}
body {font-family:-apple-system, BlinkMacSystemFont, sans-serif; font-size:14px; margin:0 auto; max-width:1100px; position:relative; padding:10px;}
a {color:#27e;}
main {line-height:1.5;}
h1,h2,h3 {margin-bottom:10px;}
ol,ul,p,pre,.highlight {margin-bottom:20px; tab-size:4;}
li pre {margin-bottom:0;}

article {margin-bottom:70px;}
article h1 {font-size:42px; padding-bottom:20px;}
pre code {font-family:Menlo, monospace; color:#fff; background:#212222; overflow:auto; padding:8px 10px; font-size:12px; display:block;}
li.command {list-style-type:square;}
li.command, pre, .code, kbd, code {font-family:Menlo, monospace; font-size:12px;}
blockquote {color:#666; margin:20px 40px; font-size:18px;}

article table {width:100%; border-collapse:collapse; margin-bottom:20px; border:1px solid #fff; border-radius:4px; overflow:hidden;}
article th {text-align:left;}
article td, th {border:1px solid #000; padding:2px 10px;}

article ul li {list-style:none; position:relative; margin-bottom:10px;}
article ul li:before {content:'👉'; position:absolute; left:-24px;}
article ul li > strong:first-child {background:#fc6; padding:0 5px;}

.c1, .c {color:#999;}
.k, .kd {color:#e54;}
.s1, .s2, .dl {color:#fc6;}
.o {color:#ccc;}
.mi,.mf {color:#76b;}
.nb, .kc {color:#8de;}
.nt {color:#e54;}
.na {font-weight:bold;}
.language-yaml .na {color:#27e;}

.language-directory {font-size:13px; font-family:-apple-system, BlinkMacSystemFont, sans-serif; line-height:20px !important; background:repeating-linear-gradient(#111, #111 20px, #222 20px, #222 40px); border:10px solid #111; padding:0 5px;}
.language-make .err {color:#e54;}
.language-make .nv {color:#fc6;}

.site-title {margin:0; padding:0; font-size:20px;}
.site-title a {display:block; color:#fff; text-decoration:none;}
.title {margin-bottom:5px;}
.title b {display:inline-block; margin-right:4px; width:30px; height:30px; text-align:center; background:#eee; color:#000; font-weight:normal; position:relative; line-height:30px;}
.title b:after {position:absolute; top:0; height:30px; border-top:1px solid transparent; border-bottom:1px solid transparent;}
.title b:nth-child(1):after {content:''; right:-4px; border-left:4px solid #ccc;}
.title b:nth-child(2):after {content:''; right:-4px; border-left:4px solid #ccc; border-top-width:3px; border-bottom-width:3px;}
.title b:nth-child(4):after {content:''; left:-4px; border-right:4px solid #ccc; border-top-width:3px; border-bottom-width:3px;}
.title b:nth-child(5):after {content:''; left:-4px; border-right:4px solid #ccc;}

header {margin-bottom:40px;}
@media (min-width:800px) {
	body {padding:20px 400px 10px 20px; min-height:100vh;}
	/*header {position:absolute; top:20px; left:10px;}*/
	.sidebar {position:absolute; right:0; top:0; bottom:0; width:360px; padding:40px;}
}

#nav {list-style:none; padding:0;}
#nav p {margin-bottom:0;}
#nav li {margin-bottom:20px;}
#nav img {width:25%; float:left; margin-right:20px;}
#nav li::after {content: ""; clear:both; display:table;}
#nav h3 a {color:inherit; text-decoration:none;}

article img {width:100%;}
article .meta {margin-top:10px;}

.hero {margin-bottom:40px; background:#008; padding:6px 10px; color:#fff;}

.sidebar-group {margin-bottom:40px;}
.related-posts {margin-top:10px; list-style:none; padding-left:0;}
.related-posts > * {margin-bottom:10px;}
.related-posts a {color:inherit; text-decoration:none; opacity:.5;}

.james-avatar {height:50px; width:50px; line-height:50px; text-align:center; font-size:32px; background:#333; border-radius:25px; margin-bottom:10px;}
.james {margin-bottom:0;}
.james-followers {opacity:.5; margin-bottom:10px;}
.james-bio {margin-bottom:20px; font-size:13px;}
.james-follow {padding:5px 18px; border-radius:100px; background:#27e; color:#fff; text-decoration:none; display:inline-block;}

@media (prefers-color-scheme: dark) {
	body {color:#fff; background:#000;}
	article p {color:#ccc;}
}

.search {border:1px solid #333; background:#fff; width:100%; padding:10px; outline:none;}