<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{page.title | default: "James Loper"}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="canonical" href="https://jamesloper.com{{page.url}}">
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>

<body>
<header>
	<h1 class="site-title">
		<a href="/">
			<div class="title"><b>J</b><b>A</b><b>M</b><b>E</b><b>S</b></div>
			<div class="title"><b>L</b><b>O</b><b>P</b><b>E</b><b>R</b></div>
		</a>
	</h1>
</header>
<main>
{{content}}
</main>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9604239-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-9604239-2');
</script>
</body>
</html>
