<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<link rel="canonical" href="https://jamesloper.com{{page.url}}" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>{{page.title | default: "James Loper"}}</title>
<style>{% include styles.css %}</style>
</head>

<body>

<div class="body">
	<header id="header">
        <a id="logo" href="/">
            {% include cube.html %}
        </a>
	</header>

	<div id="blog">
	{{content}}
	</div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9604239-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-9604239-2');
</script>
</body>
</html>
